# Swap files
*.swp

# Byte-compiled Python files
*.pyc
*.pyo
__pycache__/

# Virtual environment
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Database files
*.sqlite3
*.db

# Log files
*.log

# Operating system files
.DS_Store
Thumbs.db

# Python cache files
*.egg
*.egg-info/
dist/
build/

# Temporary files
*.tmp
*.bak
*.old

# Package management files
pip-log.txt
pip-delete-this-directory.txt

# IDE-specific files
.vscode/
.idea/
*.iml

# Archive files
*.tar.gz
*.zip

# Generated documentation
docs/_build/

# Local scripts or binaries
*.sh
*.exe
*.out

# Static and media files
staticfiles/
media/

# Technical analysis data files
technical_analysis/data/*.csv

# Personal notes or temporary files
*.note
*.draft
